#initial-showing{
  display: none;
}

#initial-showing2{
  display: none;
}
#initial-showing3{
  display: none;
}
#initial-showing4{
  display: none;
}
img{
  height: 400px;
  width: 400px;
}

.font-to-serif{
  font-family: serif;
}

.img-shape{
  border-radius: 50%;
}

body{
  background-color: #14809c;
}

.well-color{
  background-color: red;
  animation-name: colorcycle;
  animation-duration: 10s;
  animation-iteration-count: 900000;
}
@keyframes colorcycle {
  0%   {background-color: red;}
  25%  {background-color: pink;}
  50%  {background-color: orange;}
  75% {background-color: purple;}
  100% {background-color: red;}
}

.buttons {
  text-align: center;
}
